* {
    margin: 0 auto;
}
section {
    background: linear-gradient( 126deg, #725ebd,#6E6590, #8B80AB, #BDA5C9, #DBA4B1, #FA9C94, #FFA082, #FFB272);
    height: 4400px;
    width: 100%;
    padding-top: 10px;
}   
.box  {
    margin-top: 120px;
    margin-left: 120px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 600px;
    width: 820px;
}
.expliquation {
    padding-left: 300px;
    margin-top: -35px;
    margin-bottom: 35px;
}
.title {
    padding-left: 90px;
    padding-top: 10px;
    color: #394B8D;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
}
.link:visited {
    color: #394B8D;
}
.link:hover {
    color: rgb(129, 196, 250);
    transition-delay: 0.22s;
}
.link:active {
    color: #394B8D;
}
.link:link {
    color: #394B8D;
}
.text {
    padding-left: 80px;
    padding-top: 4px;
    color: #394B8D;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em; 
}
details {
    overflow: auto;
    margin-right: 50px;
    height: 100px;
}
.under-summary {
    margin-left: 70px;
}
.song {   
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 180px;
    padding-left: 10px;
}
.before-img {
    padding-top: 30px;
    padding-left: 70px;
}
.image {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
.title-of-song {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    color: #394B8D;
    font-family: 'Roboto', sans-serif;
    font-size: 2.0em;
}
.box_two {
    margin-top: 160px;
    margin-left: 820px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 600px;
    width: 900px;
}
.box_three {
    margin-top: 200px;
    margin-left: 220px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 500px;
    width: 800px;
}
.box_four {
    margin-top: 300px;
    margin-left: 520px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 500px;
    width: 800px;
}
.box_five {
    margin-top: 250px;
    margin-left: 120px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 500px;
    width: 1000px;
}
.box_step_four {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 800px;
    height: 400px;
    box-shadow: 8.4px 6.3px 36px;
    margin-top: 60px;
    margin-left: auto;
    justify-content: space-between;
}
.box_contain {
    width: 300px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}
.text_liste {
    padding-top: 4px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em; 
}
.link_step_four {
    color: #000;
}
.link_step_four:visited {
    color: #000;
}
.link_step_four:hover {
    color: #4e5969;
}
.link_step_four:active {
    color: #000;
}
.link_step_four:link {
    color: #000;
    text-decoration: none;
}
footer {
    width: 100%;
    background-color: rgb(53, 53, 68);
    color: white;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    text-align: center;
    padding-top: 10px;
}

/* RWD */

@media screen and (max-width: 1725px) {
    .box  {
    margin-top: 120px;
    margin-left: 20px;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 600px;
    width: 820px;
}
    .box_two {
        margin-top: 160px;
        margin-left: 220px;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 600px;
        width: 900px;
    }
    .box_three {
        margin-top: 200px;
        margin-left: 120px;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 500px;
        width: 800px;
    }
}
@media screen and (max-width: 1330px) {
    .box  {
    margin-top: 50px;
    margin-left: auto;
    box-shadow: 8.4px 6.3px 36px;
    border: 3px solid black;
    border-radius: 10rem;
    background-color: #A1BAE0;
    height: 600px;
    width: 820px;
}
    .box_two {
        margin-top: 50px;
        margin-left: auto;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 600px;
        width: 900px;
    }
    .box_three {
        margin-top: 50px;
        margin-left: auto;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 500px;
        width: 800px;
    }
    .box_four {
        margin-top: 60px;
        margin-left: auto;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 500px;
        width: 850px;
    }
    .box_five {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 8.4px 6.3px 36px;
        border: 3px solid black;
        border-radius: 10rem;
        background-color: #A1BAE0;
        height: 500px;
        width: auto;
    }
}